<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- prevent favicon request (https://stackoverflow.com/a/13416784) -->
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
        <title>Foobar</title>
        {% if settings.localVendorAssets %}
            {% if settings.production %}
        <link rel="stylesheet" href="vendor/bulma-0.9.1/css/bulma.min.css" integrity="sha512-ZRv40llEogRmoWgZwnsqke3HNzJ0kiI0+pcMgiz2bxO6Ew1DVBtWjVn0qjrXdT3+u+pSN36gLgmJiiQ3cQtyzA==" crossorigin="anonymous" />
            {% else %}
        <link rel="stylesheet" href="vendor/bulma-0.9.1/css/bulma.css" integrity="sha512-6eqPOYQmUqGh2hFSAKha1dbQlMq1OaxityCVG80dkvGmmLdsAdrAUkgBKDV4fpAT/xOUdkB6uupudSbCwyoJPQ==" crossorigin="anonymous" />
            {% endif %}
        {% else %}
            {% if settings.production %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css" integrity="sha512-ZRv40llEogRmoWgZwnsqke3HNzJ0kiI0+pcMgiz2bxO6Ew1DVBtWjVn0qjrXdT3+u+pSN36gLgmJiiQ3cQtyzA==" crossorigin="anonymous" />
            {% else %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.css" integrity="sha512-6eqPOYQmUqGh2hFSAKha1dbQlMq1OaxityCVG80dkvGmmLdsAdrAUkgBKDV4fpAT/xOUdkB6uupudSbCwyoJPQ==" crossorigin="anonymous" />
            {% endif %}
        {% endif %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
        <link rel="stylesheet" href="styles/app.css">
    </head>
    <body>
        <div id="app">
            <transition name="fade">
                <!-- component matched by the route will render here -->
                <router-view></router-view>
            </transition>
        </div>
        <script type="text/javascript">
            window.__INITIAL_STATE__ = '{{ initialState | raw }}';
            let initialState = JSON.parse(window.__INITIAL_STATE__);
        </script>
    {% if settings.localVendorAssets %}
        {% if settings.production %}
    <script src="vendor/vue-2.6.12/vue.min.js" integrity="sha512-BKbSR+cfyxLdMAsE0naLReFSLg8/pjbgfxHh/k/kUC82Hy7r6HtR5hLhobaln2gcTvzkyyehrdREdjpsQwy2Jw==" crossorigin="anonymous"></script>
    <script src="vendor/vue-router-3.4.9/vue-router.min.js" integrity="sha512-5zLXysUT2RHZ2FZwgnM12r3vGxRejsOtDQeYSFgJYDyDqzLTJeG2SmV87foegnnzKI/Fk9d5EdMNj+osKSpf1g==" crossorigin="anonymous"></script>
    <script src="vendor/vue-resource-1.5.1/vue-resource.min.js" integrity="sha512-wGKmIfDWUJSUvxUfUayQPJj7ADCD60La3up0VCbq+MTFcOUQ2hlH2McnYFafHgLTsOrGwOdiHKX4p1v0BerCyQ==" crossorigin="anonymous"></script>
        {% else %}
    <script src="vendor/vue-2.6.12/vue.js" integrity="sha512-YXLGLsQBiwHPHLCAA9npZWhADUsHECjkZ71D1uzT2Hpop82/eLnmFb6b0jo8pK4T0Au0g2FETrRJNblF/46ZzQ==" crossorigin="anonymous"></script>
    <script src="vendor/vue-router-3.4.9/vue-router.js" integrity="sha512-k9aDZZA3EK+84lOvvFTb9Ul0bt009Qj0SOuiF1UhER2zvvlBXv2V6IsNds450ToFo4fNwsC8UgFUZj3N1rVukA==" crossorigin="anonymous"></script>
    <script src="vendor/vue-resource-1.5.1/vue-resource.js" integrity="sha512-GZgi6mLZHE1kxwBwvhZV0OayASqAwhdFIy/5T4wOxw1WaThaSEIe7ppG5WmJLwbolvMqYrqVmu2eUfm+5HNumA==" crossorigin="anonymous"></script>
        {% endif %}
    {% else %}
        {% if settings.production %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.min.js" integrity="sha512-BKbSR+cfyxLdMAsE0naLReFSLg8/pjbgfxHh/k/kUC82Hy7r6HtR5hLhobaln2gcTvzkyyehrdREdjpsQwy2Jw==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.4.9/vue-router.min.js" integrity="sha512-5zLXysUT2RHZ2FZwgnM12r3vGxRejsOtDQeYSFgJYDyDqzLTJeG2SmV87foegnnzKI/Fk9d5EdMNj+osKSpf1g==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.min.js" integrity="sha512-wGKmIfDWUJSUvxUfUayQPJj7ADCD60La3up0VCbq+MTFcOUQ2hlH2McnYFafHgLTsOrGwOdiHKX4p1v0BerCyQ==" crossorigin="anonymous"></script>
        {% else %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.js" integrity="sha512-YXLGLsQBiwHPHLCAA9npZWhADUsHECjkZ71D1uzT2Hpop82/eLnmFb6b0jo8pK4T0Au0g2FETrRJNblF/46ZzQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.4.9/vue-router.js" integrity="sha512-k9aDZZA3EK+84lOvvFTb9Ul0bt009Qj0SOuiF1UhER2zvvlBXv2V6IsNds450ToFo4fNwsC8UgFUZj3N1rVukA==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.js" integrity="sha512-GZgi6mLZHE1kxwBwvhZV0OayASqAwhdFIy/5T4wOxw1WaThaSEIe7ppG5WmJLwbolvMqYrqVmu2eUfm+5HNumA==" crossorigin="anonymous"></script>
        {% endif %}
    {% endif %}
        <!-- app section -->
        <script src="scripts/app.js" type="module"></script>
        <!-- app section -->
    </body>
</html>
